
@import '~antd/dist/antd.css';


body {
  background-color: rgb(49, 67, 87);
}

.todo {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.todo-container {
  background-color: white;
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 15px;
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.todo-container:hover {
  border: 1px solid blue;
  box-shadow: 0 0 20px 10px rgb(67, 118, 181);
}

.todo-id {
  font-size: 20px;
}

.todo-message {
  align-self: center;
}

.todo-input {
  display: flex;
  flex-direction: row;
  width: 35%;
  margin: auto;
}

.App {
  text-align: center;
}

.edit-icon {
  font-size: 20px;
  cursor: pointer;
  color: green;
  margin-right: 15px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
}

.edit-icon:hover {
  color: white;
  border: 1px solid transparent;
  background-color: green;
}

.delete-icon {
  font-size: 20px;
  color: red;
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px;
}

.delete-icon:hover {
  color: white;
  border: 1px solid transparent;
  background-color: red;
}

@media screen and (min-width: 320px) and (max-width: 532px) {
  .todo-input {
    width: 80%;
  }

  .todo-container {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}

